<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="OSP team 10">
  <meta name="description" content="crawl and analyze">
  <title>웹페이지 분석기</title>
  <!--css-->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <!--header-->
  <header>
    <div class='container'>
      <div class="row">
        <div class="col-12">
          <h1 style="text-align: center;">WEB CRAWLER</h1>
        </div>
      </div>
    </div>
  </header>

  <!--section for uplpoad-->
  <section>
    <div class="container">
      <div class="row">
        <!--form with url-->
        <h4>Crawl with url</h4>
        <form action="/urlsearch" method="POST" class="col-12">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="url" id="crawlusrl" name="url">
              <div class="input-group-append">
                <input class="btn btn-dark" type="submit" value="Submit">
              </div>
            </div>
          </div>
        </form>
        <!--form with file upload-->
        <h4>Crawl with file</h4>
        <form action="/upload" method="POST" class="col-12"  enctype="multipart/form-data">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="file" aria-describedby="inputGroupFileAddon04" accept=".txt" name="file">
              <label class="custom-file-label" for="fle">Choose file</label>
            </div>
            <div class="input-group-append">
              <input class="btn btn-dark" type="submit" id="fileAddon04" value="submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!--section for result-->
  <section style="margin-top:1.5em;">
    <div class="container">
      <div class="row">
        <h3>Result&nbsp;</h3> 
        <a href="#" data-toggle="modal" data-target="#info">
          <i class="fas fa-info-circle"></i>
        </a>
        <!--modal-->
        <div class="modal fade" id="info" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="staticBackdropLabel">Result</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  <li><b>url</b> : url that you input</li>
                  <li><b>result</b> : Display crawl and analytics processing status</li>
                  <li><b>word_count</b> : count of words in url</li>
                  <li><b>runtime</b> : Crawl and text processing time</li>
                  <li><b>top 10 words</b> : Top 10 words based on Tf-Idf</li>
                  <li><b>top 3 urls</b> : The most similar top3 url based on cosine similarity</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--modal end-->
        <hr>
        <br>
        <div class="col-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">url</th>
                <th scope="col">result</th>
                <th scope="col">word count</th>
                <th scope="col">runtime(s)</th>
                <th scope="col">top 10 words</th>
                <th scope="col">top 3 urls</th>
              </tr>
            </thead>
            <tbody>
            {% for i in data %}
            <tr>
              <td><a href={{ i["url"] }} target="_blank">{{ i["url"] }}</a></td>
              <td>{{ i["execution"] }}</td>
              <td>{{ i["word_count"] }}</td>
              <td>{{ i["runtime"] }}</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    words
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for j in i["top10"] %}
                    <span class="dropdown-item">{{ j }}</span>
                    {% endfor %}
                  </div>
                </div>
              </td>

              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    links
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for j in i["top3"] %}
                    <a href= {{ j }} class="dropdown-item" target="_blank">{{ j }}</a>
                    {% endfor %}
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
            {% for i in fail %}
            <tr>
              <td>{{ i["url"] }}</td>
              <td>{{ i["execution"] }}</td>
              <td>N/A</td>
              <td>N/A</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    N/A
                  </button>
                </div>
              </td>

              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    N/A
                  </button>
                </div>
              </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </section>
  <!--modals-->
</body>
<!-- js-->
<script src="../static/js/jquery-3.4.1.min.js"></script>
<!--JQuery have to be forward of bootstrap-->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<!--If you don't link pepper.js, you have to use bundle-->
<script src="../static/js/default.js"></script>
<script type="application/javascript">
  $('input[type="file"]').change(function(e){
      var fileName = e.target.files[0].name;
      $('.custom-file-label').html(fileName);
  });
</script>
</html>