<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹페이지 분석기</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/main.css') }}"/>
    <script type= "text/javascript" src = '../static/js/default.js'></script>
  </head>

<body>
    <div class = 'content' id = 'main'>
      <h1>WEB CRAWLER</h1> 
      <!-- url search  -->
      <form class = "searchbar" action="/post" method="POST">
          <input type="search" placeholder="Search">
          <input class = "searchbutton" type="submit" onclick="alert('페이지 분석시작')">
      </form>
      <!-- file upload -->
      <div class = "filearea">
        <form class = "filebar" action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
          <input type="file" name="file"/>
          <input type="submit"/>
        </form>
      </div>
   </div>
</body>

</html>

