@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url(http://weloveiconfonts.com/api/?family=fontawesome);


h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
  text-align: center;
  margin-top: 20;
  margin-bottom: 50;
}

body {
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 70px;
}

.searchbar {
  position: relative;
  width: 400px;
  height: 60px;
  overflow: hidden;
	transition: width 0.5s;
  margin: auto;
	backface-visibility: hidden;
  background: rgba(0, 0, 0, 0);
}

input[type="search"] {
  position: absolute;
  top: 0; 
  right: 28px;
  height: 60px;
  width: 370px;
  float:left;
  font-size: 1.5em;
  border-radius: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border: none;
  padding-left: 20px;
  color: #000000;
	transition: width 0.5s;
}

.searchbutton {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #28d7d7;
  border: none;
  border-radius: 30px;
  color: #FFF;
  font-size: 1.3em;
  outline: none;
  cursor: pointer;
}

.filearea{
  position: relative;
  width: 400px;
  height: 60px;
  overflow: hidden;
	transition: width 0.5s;
  margin: auto;
}

